<% provide(:title, "アバウト") %>
<h1>hello <%= current_user.username %></h1>
<p>Nick Nack Noteをご利用頂き誠に有難うございます。</p>
<p>当サイトは日々の暮らしの中で何気なくこだわりをもち</p>
<p>愛情を注いでいる物を語り合うことで</p>
<p>様々な発見や喜びを共有できる場となっております。</p>
