<% provide(:title, "オールポスト") %>
<div class="container_Main">
  <div class="container_flex">
    <div class="container_posts">
      <%= render template: "layouts/pagination_top" %>
      <%= render template: "shared/card_micropost" %>
      <%= render template: "layouts/pagination_bottom" %>
    </div>
  </div>
</div>
