/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$N3-light-white: #fff;

html.body {

}
// <--navbar-->
header {
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: yellow;
  -webit-border-radius: 0px 0px 100px 100px;
  -moz-border-radius: 0px 0px 100px 100px;
  -ms-border-radius: 0px 0px 100px 100px;
  -o-border-radius: 0px 0px 100px 100px;
  border-radius: 0px 0px 100px 100px;
}

nav.navbarTop {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  .navbarProfile {
  }
  .siteLogo {
  }
}
nav.navbarMain {
  text-align: center;
}

.user_image {
  border: 1px solid;
  border-color: gray;
  box-shadow: 0 3px 6px purple;
  -webit-border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -ms-border-radius: 40px 40px 40px 40px;
  -o-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
}

.container_Main {
  background-color: turquoise;
  // -webit-border-radius: 100px 0px 100px 0px;
  // -moz-border-radius: 100px 0px 100px 0px;
  // -ms-border-radius: 100px 0px 100px 0px;
  // -o-border-radius: 100px 0px 100px 0px;
  // border-radius: 100px 0px 100px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
// <--all-->
.container_flex {
  width: 80%;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: palevioletred;
}

.container_posts {
  width: 80%;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

// <--container staticpages-->
.static_pages {
  margin-top: 20px;
  margin-bottom: 20px;
}
// <--footer-->
a.navItem {
  margin-right: 10px;
}

// <--card-->
.card_content {
  background-color: $N3-light-white;
  -webit-border-radius: 100px 0px 100px 0px;
  -moz-border-radius: 100px 0px 100px 0px;
  -ms-border-radius: 100px 0px 100px 0px;
  -o-border-radius: 100px 0px 100px 0px;
  border-radius: 100px 0px 100px 0px;
  box-shadow: 0 3px 6px #00000029;
  margin-bottom: 30px;
  padding: 50px;

  .user_icon {
    .user_image {
      margin-right: 10px;
      font-size: 1rem;
      border: 1px solid;
      border-color: gray;
      box-shadow: 0 3px 6px purple;
      -webit-border-radius: 40px 40px 40px 40px;
      -moz-border-radius: 40px 40px 40px 40px;
      -ms-border-radius: 40px 40px 40px 40px;
      -o-border-radius: 40px 40px 40px 40px;
      border-radius: 40px 40px 40px 40px;
    }
  }
  .user_username {
    font-size: 1rem;
    list-style: none;
    li {
      margin-top: 10px;
    }
  }
  .micropost_image {
    padding-top: 15px;
    font-size: 1rem;
  }
  .micropost_content {
    padding-top: 10px;
    color: black;
  }
  .actionItems {
  }
  .action {
    margin-right: 20px;
  }
}

// <--user_profile-->
.container_profile {
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin: 0px 40px 20px 40px;
  box-shadow: 0 3px 6px #00000029;
  .profile_top {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .profile_bottom {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .user_image {
    border: 1px solid;
    border-color: gray;
    box-shadow: 0 3px 6px purple;
    -webit-border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -ms-border-radius: 100px 100px 100px 100px;
    -o-border-radius: 100px 100px 100px 100px;
    border-radius: 100px 100px 100px 100px;
  }

  .user_username {
    padding: 10px 0px 10px 0px;
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
  }
}

// <--micropost-form-->
.micropost_form {
  padding: 0px 30px 0 30px;
}

// <follow_stats>
.stats {
  overflow: auto;
  padding: 50px 0px 0px 20px;
  a {
    text-align: center;
    float: left;
    padding: 0 10px;
    color: black;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: purple;
    }
  }
  strong {
    display: block;
  }
}

// <--registration-->
.container_signs {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
}
// <--login-->
.container_login {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
}

footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: yellow;
  -webit-border-radius: 100px 100px 0px 0px;
  -moz-border-radius: 100px 100px 0px 0px;
  -ms-border-radius: 100px 100px 0px 0px;
  -o-border-radius: 100px 100px 0px 0px;
  border-radius: 100px 100px 0px 0px;
}

.static_pages {
  width: 60%;
}
