<footer>
  <nav class="container">
      <%= link_to 'NickNackNoteに関して', about_path, class: 'navItem', method: :get %>
      <%= link_to '利用規約', terms_of_service_path, class: 'navItem', method: :get %>
      <%= link_to 'プライバシーポリシー', privacy_path, class: 'navItem', method: :get %>
    <p><small>&copy; 2020 NickNackNote All rights reserved.</small></p>
  </nav>
</footer>
